@import "_normalize.scss";
@import "_syntax-highlighting.scss";

:root {
    --bg: #ffffff;
    --fg: #000000;
    --link: #1c4bd0; // Tailwind blue 700 with fixed contrast
    --card: #e5e5e5; // Darken BG 10%
    --outline: #cccccc; // Darken BG 20%
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #000000;
        --fg: #ffffff;
        --link: #5495ff; // Tailwind blue 500 with fixed contrast
        --card: #191919; // Lighten BG 10%
        --outline: #333333; // Lighten BG 20%
    }
}

html {
    height: 100svh;
}

body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
    font-size: 1.05rem;
    line-height: 1.7;
    max-width: 650px;
    margin: 0 auto;
    padding: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
    scroll-margin-top: 1em;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

a,
a:visited,
a:hover,
a:active {
    color: var(--link);
}

header {
    padding-bottom: 1em;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    font-size: 0.9rem;
    padding: 2em 0;
}

// Blog

.post-list {
    display: flex;
}

.post-list-date {
    align-content: center;
    font-size: 0.8rem;
    font-family: monospace;
    flex: 0 0 10.5ch;
}

.post-list-title {
    word-break: break-word;
}

// Post

.post-date {
    font-size: 0.9rem;
    font-style: italic;
}

.zola-anchor {
    font-size: 0.8em;
}

code {
    font-size: 0.9rem;
}

p code {
    padding: 0 2px 2px;
    background-color: var(--card);
    word-wrap: break-word;
}

pre {
    border-radius: 5px;
    padding: 1em;
    overflow: auto;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    background: var(--card);
    border-left: medium solid var(--outline);
    padding: 0 5px;
}