<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{%if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

<link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}">

<link rel="icon" type="image/x-icon" sizes="16x16 24x24 32x32 48x48" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="192x192" href="/favicon.png">
<link rel="apple-touch-icon" sizes="192x192" href="/favicon.png">

<link rel="alternate" type="application/atom+xml" title="Feed" href="{{ '/feed.xml' | absolute_url }}">

{%- seo title=false -%}

<script async data-goatcounter="https://stats.kenhv.com/count" src="/count.js"></script>