<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{%if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

{% assign cacheBust = site.time | date:'?v=%s' %}
<link rel="stylesheet" href="{{ '/assets/css/style.css' | append: cacheBust }}">

<link rel="icon" type="image/x-icon" sizes="16x16 24x24 32x32 48x48" href="/favicon.ico">
<link rel="icon" type="image/png" sizes="192x192" href="/favicon.png">
<link rel="apple-touch-icon" sizes="192x192" href="/favicon.png">

<link rel="alternate" type="application/atom+xml" title="Feed" href="{{ '/feed.xml' | absolute_url }}">

{%- seo title=false -%}
<meta name="application-name" content="{{ site.title }}" />
<meta name="application-url" content="{{ site.url }}" />

<script async data-goatcounter="https://stats.kenhv.com/count" src="/assets/js/analytics.js"></script>