$foreground: #171717; // Neutral 900
$background: #f5f5f5; // Neutral 100
$secondary: #e5e5e5; // Neutral 200
$tertiary: #d4d4d4; // Neutral 300
$accent: #1d4ed8; // Blue 700
$code:#10b981; // Emerald 500

$foreground-dark: #e5e5e5; // Neutral 200
$background-dark: #171717; // Neutral 900
$secondary-dark: #262626; // Neutral 800
$tertiary-dark: #404040; // Neutral 700
$accent-dark: #3b82f6; // Blue 500

@mixin light-theme {
    color: $foreground;
    background-color: $background;

    a, a:link, a:visited, a:hover {
        color: $accent;
    }

    p code {
        background-color: $secondary;
    }

    pre {
        background-color: $secondary-dark;
        color: $code;
    }

    blockquote {
        border-left: medium solid $tertiary;
    }
}

@mixin dark-theme {
    color: $foreground-dark;
    background-color: $background-dark;

    a, a:link, a:visited, a:hover {
        color: $accent-dark;
    }

    p code {
        background-color: $secondary-dark;
    }

    pre {
        background-color: $secondary-dark;
        color: $code;
    }

    blockquote {
        border-left: medium solid $tertiary-dark;
    }
}

@media (prefers-color-scheme: light) {
    body {
        @include light-theme;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        @include dark-theme;
    }
}

body:not(.dark-mode) {
    @include light-theme;

    #dark-mode-on {
        display: inline;
    }

    #dark-mode-off {
        display: none;
    }
}

body.dark-mode {
    @include dark-theme;

    #dark-mode-on {
        display: none;
    }

    #dark-mode-off {
        display: inline;
    }
}