{% extends "base.html" %}

{% block head %}
<title>{{ section.title }} | {{ config.title }}</title>
<link rel="canonical" href="{{ current_url | safe }}">
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta name="description" content="{{ section.description | safe }}">

<meta itemprop="name" content="{{ section.title }} | {{ config.title }}">
<meta itemprop="description" content="{{ section.description | safe }}">
<meta itemprop="image" content="{{ current_url | safe }}banner.png">

<meta property="og:site_name" content="{{ config.title | safe }}">
<meta property="og:title" content="{{ section.title }} | {{ config.title }}">
<meta property="og:url" content="{{ current_url | safe }}">
<meta property="og:description" content="{{ section.description | safe }}">
<meta property="og:image" content="{{ current_url | safe }}banner.png">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:type" content="website">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ current_url | safe }}">
<meta property="twitter:title" content="{{ section.title }} | {{ config.title }}">
<meta property="twitter:description" content="{{ section.description | safe }}">
<meta property="twitter:image" content="{{ current_url | safe }}banner.png">
{% if config.extra.twitter_username %}
<meta property="twitter:site" content="{{ config.extra.twitter_username | safe}}">
<meta property="twitter:creator" content="{{ config.extra.twitter_username | safe}}">
{% endif %}
{% endblock head %}

{% block body %}
<h1>{{ section.title }}</h1>
{{ section.content | safe }}
{% for post in section.pages | sort(attribute="date") | reverse %}
<li class="post-list">
  <span class="post-list-date"><time datetime="{{ post.date }}">{{ post.date | date(format="%d %b %y") }}</time></span>
  <a class="post-list-title" href="{{ post.permalink }}">{{ post.title }}</a>
</li>
{% endfor %}
{% endblock body %}