---
layout: base
---

<hgroup>
  <h1>{{ page.title }}</h1>
  <p class="post-date">
    <time datetime="{{ page.date | date_to_xmlschema }}">
      {{ page.date | date: "%-d %B %Y" }}</time>
    {% if page.seo.date_modified %}
    / Updated on <time datetime="{{ page.seo.date_modified | date_to_xmlschema }}">
      {{ page.seo.date_modified | date: "%-d %B %Y" }}</time>
    {% endif %}
  </p>
</hgroup>
{% if page.toc %}
<details>
  <summary>Table of Contents</summary>
  {% toc %}
</details>
{% endif %}

<article ontouchstart="">
  {% include anchor_headings.html html=content anchorBody="#" anchorClass="anchor" anchorAttrs='aria-hidden="true" tabindex="-1"' %}
</article>